.polit-conf {
  text-align: center;
  font-size: 1.5em;
  color: rgb(241, 243, 245);
  margin-top: 0.5em;
}

.polit-conf p {
  margin-bottom: 0.1em;
}

.mytext {
  color: aliceblue;
  margin-left: 1em;
  margin-right: 1em;
}

.merci {
  margin: 1.5em;
}
