.myfooter {
  display: flex;
  background: linear-gradient(0deg, #0e0d0d 15%, #8c8d8d 100%);
  margin-bottom: 1em;
  height: 3em;
  justify-content: space-between;
  box-shadow: 1px 2px 7px 1px #000000;
}

.myfooter p {
  color: aliceblue;
  margin-inline: 0 em;
  margin-top: 0.6em;
  margin-left: 1em;
}

.myfooter p:hover {
  color: rgb(175, 177, 175);
}

.myfooter img {
  margin-top: 0.55em;
  margin-inline: 0.3em;
  width: 30px;
  height: 30px;
}

.spisok {
  display: flex;
}

.imgcart {
  margin-right: 0.7em;
}
